html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}
.flex-container-titleBar{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: auto;
  width: 100%;
  background-color: #232324;
  margin: 0;
}
#listIcon{
width: 5%;
margin: auto;
}
.titleBar{
  color: white;
  align-content: center;
  width: 95%;
  margin: auto;
}
#title{
  align-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.flex-containerFull{
  display: -webkit-flex;
	display: flex;
  height: 100%;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.flex-containerBottom{
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
  height: 100%
}
#map {
  height: 100%;
  width: auto;
  flex: auto;
}
#listPane{
  height: 100%;
  background-color: #272728;
  width: 0px;
  transition: .5s;
  overflow-y: auto;
}

table{
  padding: 0;
  margin: 0;
  border-spacing: 0;
}
tr{
  color: white;

}
tr:hover{
  background-color: #3c3c3d;
}
td{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#listPane::-webkit-scrollbar {
    width: 0em; 
}
